<% provide(:title, @pinname.pinyin) %>

<div class="row">
  <aside class="span4">
    <section>
    <h1>
        <%= image_for @pinname %>
        <%= @pinname.name_word %>
    </h1>
    </section>
  </aside>
</div>

<table  align="center" cellpadding="0" border=5 bordercolor=lightblue cellspacing="0" width="50%">
  <tr align="center">
    <th width="50" border=10 bordercolor=gray >
      Index
<!--
        img alt=" " src="http://chinese-characters.org/images/cchar-0-0.jpg" width="245" height="102" /
-->
    </th>
    <th width="50" border=10 bordercolor=gray >
      Pinyin
<!--
         background="http://chinese-characters.org/images/topbg.jpg"
-->
    </th>
    <th width="50" border=10 bordercolor=gray >
      Name_word
    </th>
    <th width="50" border=10 bordercolor=gray >
      Abbrev
    </th>
  </tr>
  <tr align="center">
    <td>
      <%= @pinname.base %>.<%= @pinname.offset %>.<%= @pinname.subindex %> 
    </td>
    <td>
      <%= @pinname.pinyin %>
    </td>
    <td>
      <%= @pinname.name_word %>(<%= @pinname.part_of_speech %>)
    </td>
    <td>
       <%= @pinname.name_word_abbrev %>
    </td>
  </tr>
</table>

  <div>
<!--
  <div class="span8">
      <h3><%= @title %></h3>
-->
    <% if @formulas.any? %>
      <ol class="formulas">
        <li>
         <table  align="center" cellpadding="0" border=5 bordercolor=lightblue cellspacing="0" width="100%">
          <tr align="center">
            <td width="20"  border=2 bordercolor=lightblue >
              Ord
            </td>
            <td width="75"  border=2 bordercolor=gray >
              (Unlink, not Delete)
            </td>
            <td width="75" border=2 bordercolor=black >
              Index
            </td>
            <td width="200" border=2 bordercolor=black >
              Index Form
            </td>
            <td width="300" border=2 bordercolor=black >
              Word Form
            </td>
            <td width="100" border=2 bordercolor=black >
              Abbrev Form
            </td>
            <td width="100"  border=2 bordercolor=black >
              Alpha
            </td>
          </tr>
         </table>
        </li>
        <%= render @formulas %>
      </ol>
    <% end %>
  </div>

<!--header class="navbar navbar-fixed-top"-->
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Update Char", edit_pinname_path( @pinname ) %></li>
            <!--li><%= link_to "Add Char Data", new_pinname_path %></li-->
            <!-- Where, here? add a next link for next record, next in ID, or next in search results, etc? -->
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
<!--/header-->

