  <div class="row">
    <aside class="span4">
      <section>
          <%= render 'shared/user_info' %>
      </section>
      <section>
          <%= render 'shared/stats' %>
      </section>
      <section>
          <li><%= link_to "Add Char Data", new_char_path %></li>
          <li><%= link_to "Add Pinname Data", new_pinname_path %></li>
          <li><%= link_to "Add Formula Data", new_formula_path %></li>
      </section>
      <section>
          <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
    </div>
  </div>  

